<div class="container">
  <%= form_tag('/contents', method: :post, class: 'form-horizontal') do  %>

<!-- エラー領域 -->
    <%# if @content.errors.any? %>
        <%#= pluralize(@content.errors.count, "error") %>

        <%# @content.errors.full_messages.each do |message| %>
        <%#= message %>
        <%# end %>
    <%# end %>
<!-- ここまで -->

   <div class="center-block">
    <div class="form-group">
      <%= label :content, :name, class: "control-label col-xs-2" %>
      <div class="col-xs-5">
        <%= select :content, :id, Content.name_list, { prompt: "会場を選択してください" }, { class: "form-control" } %>
      </div>
    </div>
    </div>
    <div class="form-group">
      <%= label :content, :status, class: "control-label col-xs-2" %>
      <div class="col-xs-5">
        <%= select :content, :status, Content.status.invert, {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="form-group">
      <%= label :content, :latency_time, class: "control-label col-xs-2" %>
      <div class="col-xs-5">
        <div class='form-inline'>
          <%= number_field :content, :latency_time, min: 0, class: "form-control" %>&nbsp;分
        </div>
      </div>
    </div>
    <div class="form-inline form-group">
      <%= label :content, :check_latency_time, class: "control-label col-xs-2" %>
      <div class="col-xs-5">
        <%= select :content, :hour,   24.times.map { |e| ["#{e}時", e] }, {}, { class: "form-control" } %>
        <%= select :content, :minute, 60.times.map { |e| ["#{e}分", e] }, {}, { class: "form-control" } %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <div class="checkbox">
          <label>
            <%= check_box :content, :twitter, checked: true %>twitterに投稿
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-10">
        <button type="submit" class="btn btn-primary btn-lg"><%= t('helpers.submit.submit') %></button>
      </div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  <!-- sweetAlert("（・(ｪ)・）"); -->
</script>
