<body>
<div class="l-container sub">
  <% if @user.present? && @user.errors.present? %>
    <div class="alert alert-danger" role="alert">
      <% @user.errors.full_messages.each do |msg| %>
        <p>・<%= msg %></p>
      <% end %>
    </div>
  <% end %>
</div>
<div class="l-container main">
  <%= form_tag('/users', method: :post, class: 'row') do %>
    <div class="mainBlock medium">
      <div class="mainBlock__inner">
        <div class="row form">
          <div class="form__inner"></div>
        </div>
        <div class="row form">
          <div class="form__inner">
            <%= label :user, :login_id, class: 'heading__level4' %>
            <%= text_field :user, :login_id, id: 'login_id', class: 'form__input', placeholder: 'ログインID' %>
          </div>
          <div class="form__inner">
            <%= label :user, :password, class: 'heading__level4' %>
            <%= password_field :user, :password, id: 'password', class: 'form__input', placeholder: 'パスワード' %>
          </div>
        </div>
        <div class="row">
          <div class="form__inner half center">
            <button type="submit" class="btn--conversion" onclick="submitForm.showModal();"><%= t('helpers.submit.login') %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="footer">
  <div class="footer__inner">
    <div class="copyright">&#169; Future-Needs,Inc All Rights Reserved.</div>
  </div>
</div>
</body>
